@charset "UTF-8";

html {
    font-size: 100%;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

body {
    background-image: url(../../img/resume-6627200_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1 {
    color: black;
    text-align: left;
}

a{
    background-color: white;
    color: black;
}

h2 {
    color: black;
    text-align: center;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    background-color: white;
}

th {
    text-align: left;
}

table th {
    position: relative;
    text-align: left;
}

footer {
    align-items: flex-end;
    text-align: right;
}

#event {
    color: black;
    text-align: center;
}

#identity {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#content {
    font-size: 18px;
    text-align: left;
}

#copyright {
    font-size: 10px;
}